.a-container {
  position: absolute;
  top: 40%;
  left: 50%;
  height: 500px;
  width: 500px;
  border-radius: 24px;
  transform: translate(-50%, -45%);
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.avItem2 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  margin: 40px auto 0;
}

.forms {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.containerTitle,
.containerText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerTitle {
  font-size: 24px;
  font-weight: bold;
}

.inputLabelGrp {
  padding-bottom: 10px;
}

#username {
  margin-top: 6px;
  border: 2px solid #666666;
  height: 3em;
  width: 31em;
  padding-left: 0.8em;
  background-color: #f3f3f3;
  border-radius: 10px;
  transition: all 0.5s;
}

#username:hover,
#username:focus,
#username:active {
  border: 2px solid #4a9dec;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}

#password {
  margin-top: 6px;
  border: 2px solid #666666;
  height: 3em;
  width: 31em;
  padding-left: 0.8em;
  background-color: #f3f3f3;
  border-radius: 10px;
  transition: all 0.5s;
}

#password:hover,
#password:focus,
#password:active {
  border: 2px solid #4a9dec;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}

.button {
  margin: 10px auto;
  display: block;
  background-color: #fff;
  border-radius: 24px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  color: #3c4043;
  cursor: pointer;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: normal;
  padding: 2px 44px;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background: #f6f9fe;
  color: #174ea6;
}
