.feedback,
.topical,
.pastpaperex {
  margin: 10px;
  padding: 10px;
}

.exam-dashboard-container {
  margin: 40px;
  padding: 40px;
}


.card {
  margin-top: 30px;
  padding: 5%;
  margin: 50px;
  margin-bottom: 30px;
  box-shadow: 0 4px 6px green;
  justify-content: space-around 20px;
  height: fit-content;
  width: 50%;
  font-size: 28;
}

.progressbar{
  margin: 5px;
  padding: 5px;
  height: 40px;
}



.card-container {
  display: flex;
  flex-direction: row;
  margin-right: 200px; /* Adjust spacing between cards */
}

.feedback h1,
.topical h1,
.pastpaperex h1 {
  margin-bottom: 10px;
}

.feedbackex{
  margin-top: 5%;
}
