.modules-container {
    display: flex;
    margin-right:20%;
}

.module {
    border-radius: 25px;
    padding: 10px;
    color: white;
    background-color: green;
    margin-top: 50px;
    margin-right: 80px;
}

.module:hover {
    cursor: pointer;
}
