/* Website background container */
.backgroundContainer {
  background: rgb(132,118,154);
background: linear-gradient(180deg, rgba(132,118,154,1) 0%, rgba(204,174,186,1) 25%, rgba(236,200,188,1) 75%, rgba(238,194,145,1) 100%);
  height: 93.5vh;
}

.itemsContainer {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  text-align: center;
}

    /* Courses button */
    .coursesBtn {
      padding: 12px;
      text-decoration: none;
      color: white;
      border: 2px solid white;
      border-radius: 6px;
      transition: 0.5s;
    }
  
    /* Courses button hover effects */
    .coursesBtn:hover {
      color: black;
      background: white;
      transition: 0.5s;
    }

  /* Login button */
  .clickLogBtn {
    padding: 12px;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    transition: 0.5s;
    margin-bottom: 20px;
  }

  /* Login button hover effects */
  .clickLogBtn:hover {
    color: black;
    background: white;
    transition: 0.5s;
  }

  .registration-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly ;
  }

  .registration-btns {
    margin-bottom: 20px;
  }