/* Website background container */
.backgroundContainer {
  background-color: black;
  position: fixed;
}

/* Background image of the website */
.bgImg {
  opacity: 0.5;
  overflow: scroll;
}

.itemsContainer {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -40%);
  text-align: center;
}

/* Courses button */
.coursesBtn {
  padding: 12px;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  transition: 0.5s;
}

/* Courses button hover effects */
.coursesBtn:hover {
  color: black;
  background: white;
  transition: 0.5s;
}

/* Login button */
.clickLogBtn {
  padding: 12px;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  transition: 0.5s;
  margin: 20px;
}

/* Login button hover effects */
.clickLogBtn:hover {
  color: black;
  background: white;
  transition: 0.5s;
}

.registrationBtns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}