*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyDiv {
    margin-top: 40px; /* Note: No comma between margin values */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    margin-top: 50px;
    gap: 1rem;
  }

  .bodyDiv button{
    width: fit-content;
    padding: 20px;
  }
  