.learnresources {
  flex: 1;
  border-width: 5px;
  border-radius: 20px;
  background: linear-gradient(180deg, rgb(62, 154, 67) 18%,rgb(27, 167, 172) 80%);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  margin: 30px;
  margin-bottom: 40px;
  padding: 40px;
  display: flex; /* Add display flex */
  flex-direction: column; /* Set flex direction to column */
  gap: 20px;
  color:white; 
  align-items: center;
  justify-content: center;
}


.theLessonComplete{
  background: linear-gradient(180deg, rgb(62, 154, 67) 18%,rgb(27, 167, 172) 80%);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.learnresources button {
  /* Add specific styling for the button */
  padding: 10px 20px; /* Adjust padding */
  font-size: 16px; /* Adjust font size */
  height: fit-content;
}

.section-text-learnresource {
  margin-bottom: 40px;
}

.stlr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stlr-next-btn {
  color: rgb(27, 167, 172);
  background-color: white;
  border-radius: 25px;
  border: 1px solid rgb(27, 167, 172);
  font-weight: bold;
  margin-top: 20px;
  width: 150px;
}

.stlr-next-btn:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(27, 167, 172);
  border: 1px solid white;
  transition: 0.3s ease-in;
}

.img-stlr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stlr-gb-btn {
  margin-top: 40px;
  margin-left: 10px;
  width: 80px;
  padding: 15px;
  padding-left: 10px;
  border-radius: 10px;
  background-color: rgb(27, 167, 172);
  color: white;
  border: 1px solid rgb(27, 167, 172);
  font-weight: bold;
}

.stlr-gb-btn:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(27, 167, 172);
  transition: 0.3s ease-in;
}